// Value	Description	C Definition (from windows.h)
// 100	Thin	FW_THIN
// 200	Extra-light (Ultra-light)	FW_EXTRALIGHT
// 300	Light	FW_LIGHT
// 400	Normal (Regular)	FW_NORMAL
// 500	Medium	FW_MEDIUM
// 600	Semi-bold (Demi-bold)	FW_SEMIBOLD
// 700	Bold	FW_BOLD
// 800	Extra-bold (Ultra-bold)	FW_EXTRABOLD
// 900	Black (Heavy)	FW_BLACK

.button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;

  border: none;
  appearance: none;
  border-radius: 0.25rem;

  cursor: pointer;

  &:focus-visible {
    outline: 0.1875rem solid rgba(0, 0, 255, 0.2);
  }

  &:disabled {
    border: 1px solid var(--gray200);
    background-color: var(--gray100);
    color: var(--gray400);
  }
}

.filled {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}

.outline {
  background-color: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
}
