* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Pretendard', sans-serif;
}

:root {
  --gray900: #121212;
  --gray800: #323232;
  --gray700: #505050;
  --gray600: #636363;
  --gray500: #8a8a8a;
  --gray400: #ababab;
  --gray300: #d0d0d0;
  --gray200: #e2e2e2;
  --gray100: #eeeeee;
  --gray50: #f7f7f7;

  --black: var(--gray900);
  --white: #fff;

  --primary: var(--gray900);
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
}
